@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Bree serif' , serif;
}

body {
    font-family: 'Bree Serif', serif;
    background-image: linear-gradient(45deg, #ffaa00 40%, #000000 100%, #eeeeee 5%);
    height: 100vh;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.botoesNav, .msg {
    text-decoration: none;
}

.botoesNav {
    padding: 0 4rem;
    margin: 0;
    color: white;
    font-weight: 500;
    font-size: 20px;
    transition: font-size 0.4s;
}

.botoesNav:hover {
    font-size: 26px;
} 

nav {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    padding-top: 32px;
}

.containerNav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
}

.barraNav {
    font-size: 1.25rem;
    
}

.planos {
    display: flex;
    border-radius: 50px;
    border-style: none;
    margin-top: 8px;
    align-items: flex-start;
    flex-direction: column;
    font-size: 19px;
}

.forma {
    display: flex;
    justify-content: space-around;
    padding-top: 12rem;
}

.formaCaixa {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 40vh;
    height: 47vh;
    border-radius: 12px;
    background-color: white;
    text-align: center;
    margin-top: 2vh;
    box-shadow: 0px 0px 20px 0px #FADC63;
}

.titulo {
    padding-top: 16px;
}

.pagamento {
    text-align: center;
    padding-top: 7px;
}

.botaoAss {
    padding: 14px;
    width: 70%;
    border-radius: 50px;
    color: rgb(251, 255, 0);
    cursor: pointer;
    outline: none;
    border-width: 0;
    background-color: #1A1B27;
    font-size: 17px;
}

.botaoAss:hover {
    opacity: 0.8;
    transform: scale(1.1);
    transition: transform 0.4s;
}

.botaoForma {
    padding-top: 14px;
}

.golpe {
    font-size: 13px;
}

.linksBotao {
    text-decoration: none;
    color: rgb(251, 255, 0);
}
